
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h4><b>个人简介</b></h4>
    <p>正在完善中。。。</p>
    <hr>
    
    <h4>技能点</h4>
    <!-- Progress bars / Skills -->
    <p>Photoshop</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:60%">60%</div>
    </div>
    <p>Front-end</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:60%">60%</div>
    </div>
    <p>Python</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:60%">60%</div>
    </div>
    <p>数据库</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:40%">40% 目前只会CRUD</div>
    </div>
    <p>Linux</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:60%">基本操作与部署</div>
    </div>
    <hr>
  
  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>感谢您能给我提一些编程和学习的建议</b></h4>
    
    <hr class="w3-opacity">
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>姓名</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>邮箱</label>
        <input class="w3-input w3-border" type="email" name="Email" required>
      </div>
      <div class="w3-section">
        <label>具体建议</label>
        <!-- <input class="w3-input w3-border" type="textarea" name="Message" required> -->
        <textarea class="w3-input w3-border" name="Message" required></textarea>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
  </div>

  
</div>

</body>
</html>
